* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("/images/bg_cutie.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: beige;
}

h1 {
    text-align: center;
    font-size: 225%;
    padding: 1em 0 0.5em 0;
}

.posts {
    display: flex;
    flex-direction: column;
}

.post_item {
    background-color: rgba(144, 60, 16, 0.7);
    display: flex;
    flex-direction: column;
    margin: 0.25em auto;
    width: 50%;
    border: 1px solid darkgrey;
    border-radius: 0.5em;
    padding: 1.5em;
}

.title {
    text-align: center;
}

img {
    width: 30%;
    align-self: center;
    height: 12em;
}

.links {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 1em;
    color: beige;
}